---
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="zh-Hans-CN">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body><style is:global>
    :root {
      --purple-hsl: 255, 60%, 60%;
      --overlay-blurple: hsla(var(--purple-hsl), 0.2);
    }
    html {
      background:
        radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh /
          105vw 200vh,
        radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50%
          calc(100% + 20rem) / 60rem 30rem;
    }

    :root[data-theme="light"] {
      --purple-hsl: 255, 85%, 65%;
    }

    html {
      background:
        radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh /
          105vw 200vh,
        radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50%
          calc(100% + 20rem) / 60rem 30rem;
    }
  </style>
</html>
